<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./assets/mui/css/mui.css">
    <link rel="stylesheet" href="./assets/mui/css/iconfont.css">
    <link rel="stylesheet" href="./assets/fontAwesome/css/font-awesome.css">
    <link rel="stylesheet" href="./css/search.css">
    <script src="./assets/mui/js/mui.js"></script>
    
    <script src="./assets/zepto/zepto.min.js"></script>
    <script src="./assets/artTemplate/template-native.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/public.js"></script>
</head>
<body>
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav">
        
        <h1 class="mui-title">搜索中心</h1>
        
    </header>
    <!-- 尾部 -->
    <nav class="mui-bar mui-bar-tab ">
        <a class="mui-tab-item" href="#Popover_0">
            <p class="mui-icon mui-icon-home"></p> 
            <p>首页</p></a>
        <a class="mui-tab-item" href="#Popover_1">
                <p class="mui-icon mui-icon-bars"></p> 
                <p>分类</p></a>
        </a>
        <a class="mui-tab-item" href="#Popover_2">
                <p class="fa fa-shopping-cart cart"></p> 
                <p>购物车</p></a>
        </a>
        <a class="mui-tab-item" href="#Popover_3">
                <p class="mui-icon mui-icon-contact"></p> 
                <p>会员中心</p></a>
        </a>
    </nav>
    <!-- 搜索框 -->
    <div class="mui-content">
        <div class="search">
            <input type="text" placeholder="搜索您喜欢的商品" id="text">
            <input type="button" value="搜索" id="search">
        </div>
        <div class="history">
            <ul class="history-one">
                <li><a href="javascript:;">搜索历史</a></li>
                <li class="del"><span class="mui-icon mui-icon-trash"></span><a href="javascript:;">情况历史</a> </li>
            </ul>
            <ul class="mui-table-view history-two">
                <!-- <li class="mui-table-view-cell">Item 1</li> -->
                
            </ul>
        </div>
        
    </div>
    <script type="text/template" id="template">
        <% for(var i = 0; i < result.length; i++) { %>
            <li class="mui-table-view-cell"><a href="./search-result.html?keyword="+<%=result[i]  %>"><%=result[i]  %></a></li>
        <% } %>
    </script>
</body>
</html>