body {
  background-color: #fff;
}
#content {
  background-color: #fff;
  padding-bottom: 60px;
}
#content .info {
  border-bottom: .5px solid #ccc;
  padding: 10px;
  font-size: 16px;
}
#content .price {
  border-bottom: .5px solid #ccc;
  padding: 10px;
  font-size: 13px;
}
#content .price .current {
  font-size: 20px;
  color: orange;
}
#content .price .original {
  text-decoration: line-through;
  color: #ccc;
}
#content .size {
  padding: 10px;
  color: #666;
  border-bottom: .5px solid #ccc;
}
#content .size span {
  height: 28px;
  width: 28px;
  display: inline-block;
  margin: 0 10px 10px 0;
  border: .5px solid #ccc;
  text-align: center;
  line-height: 28px;
}
#content .number {
  padding: 10px;
  font-size: 14px;
}
#content .number span {
  height: 28px;
  width: 28px;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}
#content .number span:first-of-type {
  margin-right: -4px;
}
#content .number span:last-of-type {
  margin-left: -5px;
}
#content .number input {
  margin-bottom: 0;
  height: 28px;
  width: 28px;
  border-left: none;
  border-right: none;
  padding: 0 3px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  border-radius: none;
  line-height: normal;
}
#content .shopping {
  padding: 10px;
  display: flex;
}
#content .shopping a {
  flex: 1;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
  color: white;
}
#content .shopping a:first-of-type {
  background-color: orange;
}
#content .shopping a:last-of-type {
  background-color: hotpink;
}
.active {
  background-color: orange;
}
